body {
  margin: 0;
  background-color: #f0f3ef;
  color: #666;
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  -webkit-font-smoothing: antialiased;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

div, ul, li {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input, button {
  border: none;
  outline: none;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.layer {
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
}

.sit-nav-cover {
  width: 100%;
  background-color: #e3e4e5;
  border-bottom: 1px solid #ddd;
  .site-nav {
    height: 30px;
    background-color: green;
  }
}

.header {
  position: relative;
  height: 141px;
  background-color: pink;
  .logo-bd {
    position: absolute;
    left: 0;
    top: -31px;
    width: 190px;
    height: 172px;
    background-color: #dddddd;
    border-bottom: 1px solid #ededed;
  }
}

.main-show {
  background-color: #999;
  margin-bottom: 30px;
  .nav-menu {
    float: left;
    width: 190px;
    height: 480px;
    background-color: purple;
    margin-right: 10px;
  }
  .slider {
    float: left;
    width: 590px;
    height: 480px;
    margin-right: 10px;
    padding-top: 10px;
    .slider-wrap {
      height: 100%;
      width: 100%;
      background-color: aquamarine;
    }
  }
  .sales {
    float: left;
    width: 190px;
    height: 480px;
    margin-right: 10px;
    .sales-wrap {
      height: 100%;
      overflow: hidden;
      .sales-item {
        height: 150px;
        margin-top: 10px;
        background-color: #000;
      }
    }
  }
  .funcs {
    float: left;
    width: 190px;
    height: 480px;
    //background-color: bisque;
    .funcs-user {
      height: 150px;
      margin-top: 10px;
      background-color: cadetblue;
    }
    .funcs-notice {
      height: 130px;
      background-color: purple;
    }
    .funcs-service {
      height: 190px;
      background-color: orange;
    }
  }
}

.cd-goods-show {
  height: 275px;
  margin-bottom: 30px;
  background-color: #666666;
}

.show-area {
  height: 480px;
  //background-color: brown;
  .box {
    position: relative;
    width: 390px;
    float: left;
    height: 450px;
    margin: 0 10px 30px 0;
    background-color: darkslategray;
  }
  .box.last, .box.strange-last {
    margin-right: 0;
  }


  .box.strange-last {
    background-color: transparent;
    a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 340px;
      height: 420px;
      background-color: purple;
    }
  }

  .box.strange-last::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 340px;
    height: 420px;
    border: 5px solid #333;
  }
}




